@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* CSS reset */
*{
	margin: 0; 
	padding: 0;
}

/* General */
html{
	height: 100%;
	background-color: #ffffff;
}
body{
	font-family: "Open Sans", Arial, sans-serif;
	background-color: #ffffff;
	background-image: url("images/leaf-background.png");
	background-position: top right;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

/* Top Menu */
#sign-in-link{
	position: absolute;
	top: 0px; 
	right: 0px;
	padding: 5px 10px;
	font-size: 14px;
	color: #a0a0a0;
	text-decoration: none;
}

/* Logo */
#blooom-emblem{
	display: block;
	max-width: 10%;
	margin: 0 auto;
	margin-bottom: 5px;
}
/* Progress Bar */
#progress-bar{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 25px;
	overflow: hidden;
	counter-reset: step;
}
#progress-bar li{
	width: 33.33%;
	float: left;
	position: relative;
	list-style-type: none;
	font-size: 10px;
	font-family: "Open Sans";
	text-transform: lowercase;
	color: #7f7f7f;
}
#progress-bar li:before{
	content: counter(step);
	counter-increment: step;
	display: block;
	width: 25px;
	margin: 0 auto 5px auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: #7fb742;
	line-height: 25px;
	font-size: 10px;
	color: #7fb742;
	background: #ffffff;
}
#progress-bar li:after{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: -50%;
	top: 13px;
	z-index: -1;
	background: #7fb742;
}
#progress-bar li:first-child:after{
	content: none; 
}
#progress-bar li.active:before,  
#progress-bar li.active:after{
	background: #7fb742;
	color: white;
}

/* Container */
#onboarding-form{
	width: 100%;
	max-width: 480px;
	position: relative;
	margin: 0px auto;
	padding: 25px 0px;
	padding-top: 15px;
	text-align: center;
}

/* Typography */
.headline{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6c9d1b;
	margin-bottom: 10px;
}
.headline .light{
	display: block;
	font-weight: 300;
	font-size: 14px;
}
.subhead{
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	color: #717171;
	margin-bottom: 20px;
}
label{
	display: block;
	padding-bottom: 5px;
	font-family: "Open Sans", "Open Sans", Arial, sans-serif;
	font-size: 16px;
	color: #8d8e90;
}
label .required{
	color: #ff8a19;
	padding-right: 5px;
}

/* Fieldsets */
fieldset{
	width: 70%;
	box-sizing: border-box;
	position: absolute;
	margin: 0 15%;
	border: none;
	padding: 0px;
	padding-bottom: 50px;
}
fieldset:not(:first-of-type){
	display: none;
}

/* Form Rows */
.form-row{
	position: relative;
	margin-bottom: 10px;
}

/* Inputs */
input, 
textarea{
	width: 100%;
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
	border-color: #80b729;
	padding: 10px 15px;
	border-radius: 5px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #a0a0a0;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select{
	width: 100%;
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
	border-color: #80b729;
	padding: 10px 15px;
	border-radius: 5px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #a0a0a0;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.select-container{
	width: 100%;
	position: relative;
	border: none;
	border-radius: 5px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #a0a0a0;
}
#birth-month-select-container{
	width: 49%;
	float: left;
	margin-bottom: 2%;
}
#birth-day-select-container{
	width: 49%;
	float: right;
}
#birth-year-select-container{
	clear: both;
}
.select-arrow{
	width: 8px;
    height: 8px;
    border-left: 2px solid #80b729;
    border-bottom: 2px solid #80b729;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 0.9em;
    right: 0.9em;
}
#onboarding-form.valid .select-arrow{
    border-left: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}
.radio-button-container{
	float: left;
	width: 50%;
	position: relative;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #a0a0a0;
	overflow: hidden;
}
input[type="radio"]{
	position: absolute;
	height: 1px;
	width: 1px;
	top: -99px;
	left: -99px;
}
.radio-button-label{
	display: block;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	padding: 0px;
	border: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #80b729;
	border-radius: 5px;
	padding: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
#radio-button-label-man{
	background-image: url("images/gender-sprite.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
#radio-button-man:checked ~ #radio-button-label-man{
	background-position: 0px -75px;
}
#radio-button-label-woman{
	background-image: url("images/gender-sprite.png");
	background-position: 75px 0px;
}
#radio-button-woman:checked ~ #radio-button-label-woman{
	background-position: 75px 75px;

}
/* Password */
#security-icon{
	height: 10px;
	margin-right: 5px;
	opacity: 0.5;
}
#password-strength-bar{
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	transition: all 0.5s;
}
#password-strength-message{
	color: #7fb742;
	font-size: 10px;
}

/* Buttons */
.button{
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 10px 0px;
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 28px;
	text-transform: lowercase;
	color: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.button.previous{
	display: inline-block;
	width: auto;
	position: fixed;
	bottom: 75px;
	left: 15px;
	padding: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	font-size: 16px;
	color: #a0a0a0;
	text-decoration: underline;
	background: none;
	cursor: pointer;
}
.button.inactive{
	background-color: #a0a0a0;
	cursor: default;
}
.button.active{
	background-color: #6c9d1b;
	cursor: pointer;
    animation: pulse 1s linear infinite;
}
.button.active:hover, 
.button.active:focus{
	background-color: #555555;
}
.button-arrow{
	width: 14px;
    height: 14px;
    margin-left: 15px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.previous .button-arrow{
	display: none;
}
/* Validation */
.validation-icon{
	display: none;
	width: 20px;
	position: absolute;
	top: 20px;
	right: -7px;
}
#retirement-age-validation-icon{
	top: -8px;
}
.validation-message{
	display: none;
	font-size: 12px;
	color: #b6b6b6;
	font-style: italic;
	font-weight: 300;
	clear: both;
}
.validation-callout{
	margin-left: 5px;
	font-size: 12px;
	color: #ff8a19;
	font-style: normal;
	font-weight: 900;
}
/* Norton Seal */
#norton-seal{
	display: block;
	margin: 0 auto;
	max-width: 33%;
}
/* Desktop */
@media only screen and (min-device-width: 480px){
	body{
		max-width: 100%;
		/* Prevent the horizontal scrollbar appearing when animating in elements positioned off-screen */
		overflow-x: hidden;
	}
	/* Onboarding Form */
	#onboarding-form{
		width: 100%;
		max-width: 1000px;
		height: auto;
	}
	.form-row{
		margin-bottom: 25px;
		clear: both;
	}
	
	/* Top Menu */
	#sign-in-link{
		position: fixed;
		top: 0px; 
		right: 0px;
		padding: 15px 25px;
		font-size: 14px;
		color: #a0a0a0;
		text-decoration: none;
	}

	/* Logo */
	#blooom-emblem{
		margin-bottom: 25px;
	}

	/* Typography */
	.headline{
		font-size: 24px;
		margin-bottom: 25px;
	}
	.headline .light{
		display: inline;
		font-size: 24px;
	}
	.subhead{
		font-size: 16px;
		margin-bottom: 25px;
	}
	/* Fieldsets */
	fieldset{
		padding-bottom: 100px;
	}
	/* Inputs */
	input, 
	textarea{
	}
	select{
	}
	.select-container{
	}

	/* Birth Date */
	#birth-month-select-container{
		width: 30%;
		float: left;
		margin-right: 5%;
		margin-bottom: 2%;
	}
	#birth-day-select-container{
		width: 30%;
		margin-right: 5%;
		float: left;
	}
	#birth-year-select-container{
		width: 30%;
		float: left;
		clear: none;
	}

	/* Gender */
	#gender-row{
		text-align: center;
		max-width: 200px;
		margin: 0 auto;
	}

	/* Buttons */
	.button,
	button.next,
	.button.previous{
		width: auto;
		bottom: 25px;
		padding: 10px 75px;
		border-radius: 5px;
		font-size: 28px;
	}
	.button.next,
	.button.submit{
		right: 0px;
		left: auto;
		bottom: 12%;
		padding: 10px 100px 10px 25px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.button.previous{
		left: 0px;
		bottom: 12%;
		padding: 10px 25px 10px 100px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		background-color: #d0d0d0;
		color: #ffffff;
		text-decoration: none;
	}
	.button-arrow{
		width: 14px;
	    height: 14px;
	    margin-left: 15px;
	}
	.previous .button-arrow{
		display: inline-block;
	    margin-left: 0px;
	    margin-right: 15px;
	    -webkit-transform: rotate(225deg);
	    transform: rotate(225deg);
	}
	/* Norton Seal */
	#norton-seal{
		max-width: 25%;
		margin-top: 50px;
	}
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.01, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}
